/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
* {
    font-family: 'Noto Sans TC', sans-serif;
}

html, body {
    height: 100%;
}

body {
     display: flex;
    flex-direction: column;
}

main {
   
    flex: 1 0 auto;
}

footer {
  
    flex-shrink: 0;
    font-size: .5rem;
}

#questions,
#final,
#highscores,
#evaluate {
    display: none;  
  } 

/* Remove bullet points from answers list */
ul.nobullets {
list-style-type: none;
}

.ansBtn,
.ansBtn:hover,
.ansBtn:active,
.ansBtn:focus,
.ansBtn:active:focus {
    box-shadow: none;
    outline: none;
    background-color: #800080;
    color: #ffffff;
}
#start,
#goback,
#clearscore,
#submit-score,
#clearscores{
    background-color: #800080;
    color: #ffffff;
}

#view-scores{
    color : black;
}


/* Mobile */
@media (max-width: 480px) {
    body {
        background-color: lightblue;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-color : #add8e6;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    body {
        background-color :#ffffff;
    }
}